/* Criando variáveis para as cores que serão usadas durante o projeto */
:root {
  --button: #ff0000;
  --button-hover: #b30000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --footer-hover: #303030;
  --text-description: #9c9696;

  font-size: 62.5%;
}
/* Resetando algumas configurações do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: var(--background);
}
/* Retirando estilos de listas e definindo o cursor dos botões */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;

  background: none;
}

button,
img {
  cursor: pointer;
}
/* Configurando o container */
#container {
  display: flex;
  width: 100%;
  height: 90vh;
  margin: auto;
}

/* Barra de navegação: topicos, pesquisa e sacola */

#navbar img {
  width: 52px;
  height: 36.4px;
}
.search {
  display: flex;
  width: 22rem;
  height: 4.5rem;
  /* gap: .1rem; */
  border: 0;
  border-radius: 10px;
  background-color: var(--background);
}
.search-btn {
  border: 0;

  width: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.search input {
  width: 17.8rem;
  background-color: var(--background);
  border: 0;
  border-radius: 10px;
}

#navbar {
  box-sizing: border-box;
  margin: 39px auto;
  display: flex;
  width: 80vw;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  list-style: none;
}
#navbar a {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text);
  text-decoration: none;
}

#bag {
  width: 34px;
  height: 34px;
}

#title-price {
  position: absolute;
  width: 357px;
  height: 533px;
  left: 300px;
  top: 190px;

  color: var(--text);
}

#title-price h1 {
  /* Fonte e tamanhos */
  font-family: "Roboto";
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
#title-price h3 {
  /* Fonte e tamanhos */
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-description);
  margin-top: 21px;
}
#title-price h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--text);
  margin-top: 21px;
}
/* Botão de comprar */
#purchase {
  margin-top: 30px;
  width: 274px;
  height: 90px;
  background: var(--button);
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #ffffff;
  text-transform: uppercase;
}

#purchase:hover {
  background: var(--button-hover);
  transition: background 1s ease;
}
#numeracao ul {
  display: flex;
  margin: 0 auto;
}
#numeracao button {
  background: var(--footer-hover);
  margin: 20px 10px 10px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

#numeracao h3 {
  color: var(--text);
}

/* Conteúdo principal da página, meio */
#main {
  background: var(--main-background);
  height: 914px;
  margin-left: 80rem;
  width: 68em;
  z-index: -1;
  position: absolute;
}
#ampliado {
  margin-top: 100px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
}

#fotos-menores {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
#fotos-menores {
}
#fotos-menores:hover {
  transition: background 1s ease;
}

/* Footer da página(vídeo, redes sociais e explore mais) */

footer {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background: var(--background);
}

footer li {
  display: flex;
  text-align: center;
  align-items: center;
}

footer li a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: var(--text);
}

#exploremais {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 437px;
  height: 166px;
  background: var(--footer);
  color: white;
}
#exploremais:hover {
  background: var(--footer-hover);
  transition: background 1s ease;
}
#text-arrow {
  display: flex;
  margin: auto;
}
#exploremais p {
  margin: auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
#exploremais img {
  margin: auto;
  width: 24px;
  height: 24px;
}
